# Configurações do banco de dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=vintelo

# Configurações da aplicação
APP_PORT=3000

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Instagram OAuth
INSTAGRAM_CLIENT_ID=your_instagram_client_id_here
INSTAGRAM_CLIENT_SECRET=your_instagram_client_secret_here

# MercadoPago
accessToken=your_mercadopago_access_token_here