/*                                          Estilos gerais                                                         */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
/*                                             Cabeçalho                                                          */

h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: #666;
  font-size: 16px;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100px;
}

nav.grid-2 {
  display: flex;
  justify-content:space-between;
  gap: 100px;
  padding: 10px 80px;
  background-color: #fff;
}

nav.grid-2 img {
  width: 190%;
  height: auto;
  display: flex;
  justify-content: center;
}


  header h3 {
    font-size: 50%;
    color: #333;
  }
  
  header p {
    font-size: 16px;
    color: #666;
  }
  
  /*                                             Estilizando o main                                                      */
 
 /* Estilos padrão - Mobile First */
main {
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

/* Ajustes para tablets */
@media (min-width: 768px) {
  main {
    padding: 40px;
    font-size: 18px;
  }
}

/* Ajustes para desktops */
@media (min-width: 1024px) {
  main {
    padding: 60px;
    font-size: 20px;
  }
}

/* Ajustes para telas maiores */
@media (min-width: 1440px) {
  main {
    padding: 80px;
    font-size: 22px;
  }
}

 
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main img {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /*                                           Estilo do texto no main                                                   */
  main h2 {
    font-size: 20px;
    color: #444;
    margin: 40px 0 20px;
  }
  
  main p {
    font-size: 18px;
    color: #555;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /*                               Footer                  */
.footer {
  background-color: #818F84;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer .footer-image {
  height: 150px;
  margin-bottom: 20px;
}

.footer .social-media {
  margin-bottom: 20px;
}

.footer .social-media p {
  padding: 2%;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.footer .social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .social-link img {
  height: 90px;
  transition: transform 0.3s;
}

.footer .social-link img:hover {
  transform: scale(1.2);
}

.copyright {
  padding: 2%;
  font-size: 2rem;
  margin-top: 20px;
}


