body {
    font-family: Prata, Montserrat;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 50px;
    text-align: center;
}

header img {
  height: 100px;
}

.back-button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

header h1 {
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    position: relative;
}

header span {
    color: #8b8b7a;
    font-size: 22px;
}

.grid-container {
    display: flex;
    flex-direction: column; 
    gap: 50px;
    padding: 40px;
}

a {
  color: #000; 
  text-decoration: none; 
}

a:hover {
  color: #333; 
}

a:visited {
  color: #000; 
}

a:focus, a:active {
  outline: none; 
}
.text{
  text-align: end;
  font-size: 40px;
  color: #818F84;
}
.card {
    display: flex;
    flex-direction: row; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    align-items: center; 
}

.card img {
    width: 40%; 
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-radius: 30px;
}

.card-content {
    padding: 10px;
    flex: 1; 
}

.card h2 {
    font-size: 55px;
    margin: 25px;
}

.card p {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}

/*                                                                        moda sustentávels                                                   */
.grid-sustentável{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
}

.text-content {
    max-width: 80%;
}    

.text-content h3 {
    font-size: 40px;
    margin: 0;
    line-height: 1;
}

.text-content span {
    color: #8b8b7a;
    font-size: 50px;
    display: block;
}

.subtitle {
    font-size: 30px;
    margin: 10px 0;
    font-weight: bold;
}

.description {
    font-size: 16px;
    color: #555;
}

.image-content img {
    width: 500%;
    max-width: 250%; 
    border-radius: 10%;
    align-items: center;
}

/*                                                      Rodapé                                                      */
.footer {
    background-color: #818F84;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer .footer-image {
    height: 100px;
    margin-bottom: 20px;
  }
  
  .footer .social-media {
    margin-bottom: 20px;
  }
  
  .footer .social-media p {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .footer .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer .social-link img {
    height: 80px;
    transition: transform 0.3s;
  }
  
  .footer .social-link img:hover {
    transform: scale(1.2);
  }
  
  .copyright {
    font-size: 2rem;
    margin-top: 20px;
  }
  

  
