/*                                                   plano de fundo                                                  */
body {
    background: linear-gradient(to right, #FEF2F4, #FAC6CF); /* Degradê de rosa claro para rosa escuro */
  }
  
/*                                                   Estilos padrão - Mobile First                                     */
main {
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

/* Ajustes para tablets */
@media (min-width: 768px) {
  main {
    padding: 40px;
    font-size: 18px;
  }
}

/* Ajustes para desktops */
@media (min-width: 1024px) {
  main {
    padding: 60px;
    font-size: 20px;
  }
}

/* Ajustes para telas maiores */
@media (min-width: 1440px) {
  main {
    padding: 80px;
    font-size: 22px;
  }
}



  
  
  
  /*                                                 reset basico                                                    */
 /* Estilos para dispositivos móveis primeiro */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 40px;
}

/* Estilos para telas maiores (tablets e acima) */
@media (min-width: 768px) {
  header {
    padding: 40px;
  }

  header img {
    height: 50px;
  }
}

/* Estilos para desktops */
@media (min-width: 1024px) {
  header {
    padding: 50px;
  }

  header img {
    height: 60px;
  }
}


    /*                                                   main                                                         */
    .container {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
        padding: 10px;
        text-align: center;
      }
      
      .content p {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
      }

      
      .buttons {
        display: flex;
        justify-content: space-around;
      }
      
      .button {
        text-decoration: none;
        background-color: #7D2838;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
      }
      
      .button:hover {
        background-color: #7D2838;
      }

  /*                                                    rodape                                                        */

.footer {
    background-color: #7D2838;
    color: #fff;
    padding: 15px 0;
    text-align: center;
  }
  
  .footer .footer-image {
    height: 60px;
    margin-bottom: 15px;
  }
  
  .footer .social-media {
    margin-bottom: 15px;
  }
  
  .footer .social-media p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .footer .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .footer .social-link img {
    height: 25px;
    transition: transform 0.3s;
  }
  
  .footer .social-link img:hover {
    transform: scale(1.2);
  }
  
  .copyright {
    font-size: 0.8rem;
    margin-top: 15px;
  }
  
  /*                                            Responsividade para tablets e desktops                                              */
  @media (min-width: 768px) {
    header nav img {
      height: 40px;
    }
  
    main {
      padding: 50px;
    }
  
    main h2 {
      font-size: 28px;
    }
  
    main p {
      font-size: 18px;
    }
  
    .social-btn {
      font-size: 18px;
      width: 40px;
      height: 40px;
    }
  
    .footer .footer-image {
      height: 80px;
    }
  
    .footer .social-links {
      gap: 15px;
    }
  
    .copyright {
      font-size: 0.9rem;
    }
  }
  