* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Prata', 'Montserrat';
  background: linear-gradient(180deg, #fef2f4 0%, #f5c9d0 100%);
}

/*                                                   Estilos padrão - Mobile First                                     */
main {
  padding: 40px;
  text-align: center;
  font-size: 16px;
}

/* Ajustes para tablets */
@media (min-width: 768px) {
  main {
    padding: 40px;
    font-size: 18px;
  }
}

/* Ajustes para desktops */
@media (min-width: 1024px) {
  main {
    padding: 60px;
    font-size: 20px;
  }
}

/* Ajustes para telas maiores */
@media (min-width: 1440px) {
  main {
    padding: 80px;
    font-size: 22px;
  }
}
  
  /*                                                 reset basico                                                    */
 /* Estilos para dispositivos móveis primeiro */
header {
  padding: 80px;
  box-shadow: 0px rgba(0, 0, 0, 0.1);
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center; 
  padding: 20px; 
  background-color: #f5f5f500;
}

.nav-grid a {
  justify-self: start; 
}

.nav-grid .logo {
  justify-self: center;
  width: 180px;
  height: 100px;
  max-width: 200px; 
}

.nav-grid a img {
  width: 100px;
  height: 100px;
  max-width: 100px; 
}


    /*                                                   main                                                         */
    .container {
      position: relative; 
      width: 600px; 
      max-width: 100%; 
      margin: 0 auto; 
      border-radius: 15px;
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
      overflow: hidden; 
      box-align: baseline;
      
    }
    
    .img-responsiva {
      width: 100%;
      height: auto;
      display: block;
    }
    
    .content {
      position:inherit; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -100%);
      text-align: center;
      color: rgb(0, 0, 0);
      padding: 20px; 
      width: 520px;
      height: 250px;
      background: rgb(255, 255, 255); 
      border-radius: 40px;
    }
    
    .content h1 {
      margin: 0;
      font-size: 40px; 
    }
    
    .content p {
      font-size: 29px;
      margin-bottom: 15px;
    }
    
    .buttons {
      display: flex;
      justify-content: space-around;
    }
    
    .button {
      text-decoration: none;
      background-color: #7D2838;
      font-size: 29px;
      color: white;
      padding: 20px 40px;
      border-radius: 10px;
      transition: background-color 0.3s ease;
    }
    
    .button:hover {
      background-color: #5a1f2b; /* Cor mais escura ao passar o mouse */
    }
    

