/*                                     Reset estilos padrões do navegador                                             */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Prata, Montserrat;
  background-color: #ffffff;
  color: #333;
}

 



/*                                            reset padrão do header                                                  */
/* Estilos para dispositivos móveis primeiro */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100px;
}

main h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

/*                                                           barra de pesquisa                                                                */
.search-section {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #66666617;
  border-radius: 20px;
  overflow: hidden;
}

.search-form input {
  border: none;
  padding: 15px 15px;
  flex: 1;
  font-size: 35px;
  outline: none;
  background-color: #66666604;
}

.search-icon, .mic-icon {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-icon img, .mic-icon img {
  width: 40px;
  height: 40px;
}

.mic-icon img {
  width: 50px; /* O ícone de microfone pode ser ligeiramente maior */
  height: 50px;
}

/*                                            filtros das categorias                                                  */

/*                                              Grid de duas colunas                                                  */
.Produtos {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 4fr;  /* Duas colunas */
  gap: 0px;  /* Espaçamento entre colunas */
}

/*                                        Estilização das células                                                  */
.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  padding: 50px;
}

.product {
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 95%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.legenda {
  margin-top: 10px;
  font-size: 20px;
  color: #555;
  text-align: left;
}

.legenda + .legenda {
  font-size: 15px;
  color: #000;
  font-weight: bold;
}



/*                                                          Footer                                                     */
.footer {
  background-color: #7D2838;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer .footer-image {
  height: 150px;
  margin-bottom: 20px;
}

.footer .social-media {
  margin-bottom: 40px;
}

.footer .social-media p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer .social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .social-link img {
  height: 80px;
  transition: transform 0.3s;
}

.footer .social-link img:hover {
  transform: scale(1.2);
}

.copyright {
  font-size: 0.9rem;
  margin-top: 20px;
}

/*                                            Responsividade para Mobile                                              */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 2fr;
  }

  .celula {
    margin: 0 auto;
  }

  .footer .social-links {
    flex-direction: column;
  }
}
