/*                                                  Reset básico                                                       */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Prata, Montserrat;
    background-color: #ffffff;
    color: #333;
  }
  /*                                                   modo desktop                                                     */
  .top-bar {
    background-color: #8c2b44;
    text-align: center;
    color: white;
    padding: 20px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    padding: 50px;
}

.main-header h1 {
    color: #8a2b38;
    font-size: 1.8rem;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
}

.search-profile {
    display: flex;
    align-items: center;
}

.search-profile form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-profile ul {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.img-tamanho{
    width: 50px;
    height: auto;
}

.img-logo{
    width: 100px;
    height: auto;
}
  /*                                                Header - Mobile First                                                */
  header {
    background-color: #fff;
    padding: 40px;
  }

  .header1 {
    background-color: #fff;
  }
  
  header .grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 100px;
  }
  .titulo{
    font-size: 50px;
    padding: 70px 50px;
  }
  .estatistica{
    width: 100%;
    height: auto;
    padding: 50px;
    position: center;
  }

  /*                                                      Rodapé                                                      */
.footer {
    background-color: #7D2838;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .p-footer{
    color: #ffffffe7;
    font-size: 20px;
  }
  .footer .footer-image {
    height: 90px;
    margin-bottom: 20px;
  }
  
  .footer .social-media {
    margin-bottom: 20px;
  }
  
  .footer .social-media p {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .footer .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer .social-link img {
    height: 60px;
    transition: transform 0.3s;
  }
  
  .footer .social-link img:hover {
    transform: scale(1.2);
  }
  
  .copyright {
    font-size: 15px;
    margin-top: 20px;
    color: #ffffffe7;
  }
  
  /*                                            Responsividade para Mobile                                              */
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 2fr;
    }
  
    .celula {
      margin: 0 auto;
    }
  
    .footer .social-links {
      flex-direction: column;
    }
  }

  .oculto-mobile{
    margin: 0;
  }
  

  @media (max-width: 768px) {
    .oculto-mobile {
        display: none;
    }
  }

  @media (min-width: 992px) {
    .oculto-mobile {
        display: block;
    }
  }
  
  .oculto-desktop{
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .oculto-desktop {
        display: block;
    }
  }
  
  @media (min-width: 992px) {
    .oculto-desktop {
        display: none;
    }
  }
   
  @media (min-width: 992px) {
    .estatistica{
      width: 50%;
      height: auto;
      padding: 90px;
      position: center;
      transform: translate( 50%, 0%);
    }
  }

  @media (min-width: 992px) {
    .titulo{
      font-size: 30px;
      padding: 40px 20px;
    }
  }
   