/*                                          Estilos gerais                                                         */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}


/*                                               menu                                                             */
 


/* MENU HAMBURGUER GERAL */
.menu-hamburger {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  overflow: auto;
  z-index: 1;
  color: white;
}

/* ELEMENTOS DO MENU */
.menu-hamburguer-elements {
  width: 60%;
  height: 100%;
  background-color: rgba(255, 252, 252, 0.9);
  position: fixed;
  left: -100%;
  top: 0;
  transition: left cubic-bezier(1, 0, 0, 1) .8s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 15vh;
  z-index: -1;
}

.menu-hamburguer-elements li {
  list-style: none;
  font-size: 1.4rem;
  margin: 2rem 0;
}

.menu-hamburguer-elements a {
  color: rgb(85, 27, 27);
  text-decoration: none;
}

.menu-hamburguer-elements a:hover {
  color: rgb(71, 22, 22);
}

/* BOTÃO MENU HAMBURGER */
.menu {
  background-color: rgb(102, 31, 31);
  width: 60px;
  height: 60px;
  margin: 0rem 0rem;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
}

.hamburguer {
  position: relative;
  display: block;
  background: #ffffff;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #ffff;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

/* OCULTAR CHECKBOX */
input {
 height: 0dvw;
}

/* ANIMAÇÃO HAMBURGER AO CLICAR */
input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

/* MOSTRAR MENU QUANDO O BOTÃO HAMBURGER FOR CLICADO */
input:checked ~ .menu-hamburguer-elements {
  left: 0;
}


/*                                             Cabeçalho                                                          */




h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: #666;
  font-size: 16px;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}


nav.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

nav.grid img {
  max-width: 90px;
  cursor: pointer;
}

nav.grid-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  background-color: #fff;
}

nav.grid-2 p {
  font-size: 18px;
  color: #e0e0e0;
  background-color: #7D2838;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav.grid-2 p:hover {
  background-color: #ccc;
}


.image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
   


/*                                                Estilos padrão - Mobile First                                         */
main {
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

/* Ajustes para tablets */
@media (min-width: 768px) {
  main {
    padding: 40px;
    font-size: 18px;
  }
}

/* Ajustes para desktops */
@media (min-width: 1024px) {
  main {
    padding: 60px;
    font-size: 20px;
  }
}

/* Ajustes para telas maiores */
@media (min-width: 1440px) {
  main {
    padding: 80px;
    font-size: 22px;
  }
}




/*                                                          Carrossel de banners                                                              */

/* Estilos gerais */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* Contêiner do carrossel */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

/* Slides do carrossel */
.carousel-slide {
  display: flex;
  width: 100%;
  animation: slide-animation 12s infinite;
}

/* Cada imagem no carrossel */
.carousel-slide img {
  width: 100%;
  flex: 1 0 100%;
}

/* Animação do carrossel */
@keyframes slide-animation {
  0% { transform: translateX(0%); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}

/* Controles de navegação - Botões para controlar o carrossel */
.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

/* Posição e estilo dos indicadores */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.carousel-indicators div {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: white;
}

/*                                                           barra de pesquisa                                                                */

.search-container {
  width: 300px;
  position: relative;
}

.search-box {
  width: 100%;
  padding: 20px 20px 20px 40px; /* Espaço à esquerda para o ícone */
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #49102e;
  font-size: 16px;
}
tem menu de contexto

/*                                                       botão para as categorias                                     */ 
 /* Category Navigation */
.category-nav {
  padding: 40px;
  text-align: center;
}

.category-nav h3 {
  font-size: 40px;
  color: #7a2d39;
}

.category-nav h3 span {
  color: #bc4a5b;
}

.category-nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.category-nav ul li a {
  text-decoration: none;
  padding: 12px 16px;
  background-color: #f4f4f4;
  border-radius: 40px;
  color: #7a2d39;
  font-size: 15px;
}
  

/*                                          Estilos para a seção de produtos                                           */
h2 {
  font-size: 20px;
  color: #7a2d39;
}

.Produtos {
  background-color: #fff;
  padding: 20px 50px;
}

nav.grid ul.linha {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.grid li.celula {
  width: 80%;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

nav.grid li.celula img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.legenda {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

/*                                                Seção de perfis                                                    */
.perfis {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px 0;
  background-color: #fff;
}

.perfil-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.perfil-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.Nome {
  font-size: 26px;
  color: #333;
  text-align: center;
  margin-bottom: 5px;
}

.avaliacao {
  font-size: 20px;
  color: #999;
  text-align: center;
}

/*                                        Estilos para o botão dos perfis                                             */
nav.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
}

nav.grid-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px; /* Corrigido para evitar valores negativos */
}

.avaliacao a {
  color: white;
  text-decoration: none; /* Para remover o sublinhado, se desejado */
}

.avaliacao a:hover {
  color: lightgray; /* Altere esta cor conforme desejar para o efeito hover */
}


/* Responsividade */
@media (max-width: 768px) {
  nav.grid-2 {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  nav.grid-2 {
    width: 100%;
    padding: 8px 15px; /* Ajusta o padding para telas médias */
  }
}


.perfil-btn {
  padding: 10px 15px;
  font-size: 18px;
  color: #fff;
  background-color: #7D2838;
  border: none;
  float: right;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.perfil-btn:hover {
  background-color: #7D2838;
}




/*                                                 Estilos para a seção de banner                                       */
.img-responsiva {
  width: 100%;
  height: acuto;
  max-width: 100%;
  
}

 
/*                                                Estilos para a seção de artigos                                        */
.artigos header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.artigos h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.artigos img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.artigos p.boss-milao-verao {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.artigos a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7D2838;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.artigos a:hover {
  background-color: #555;
}


/*                                                      Rodapé                                                      */
.footer {
  background-color: #7D2838;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer .footer-image {
  height: 80px;
  margin-bottom: 20px;
}

.footer .social-media {
  margin-bottom: 20px;
}

.footer .social-media p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer .social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .social-link img {
  height: 30px;
  transition: transform 0.3s;
}

.footer .social-link img:hover {
  transform: scale(1.2);
}

.copyright {
  font-size: 0.9rem;
  margin-top: 20px;
}

/*                                            Responsividade para Mobile                                              */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 2fr;
  }

  .celula {
    margin: 0 auto;
  }

  .footer .social-links {
    flex-direction: column;
  }
}
