/*                                                           barra de pesquisa                                                                */

.search-container {
    position: relative;  
    width: 40px;
    height: 40px;  
    
    }
    .search-icon {
      display: flex;  
      justify-content: center;
      align-items: center; 
      position: absolute; 
      width: 40px;  
      height: 40px;  
      border-radius: 50%;  
      transform: rotate(45deg);
    }
    .search-icon::before {
    content:'';
    width: 25%;  
    height: 25%; 
    border-radius: 50%;  
    border: 2px solid #ea3381;
    }
    .search-icon::after {
    content:'';
    width: 20%;  
    height: 2px; 
    background-color: #542844;
    }
    .search-input { 
      width: 200px;
      height: 100%;
      border-radius: 20px;
      border: black;
      outline: none;
      padding-left: 40px;
    }