<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Peça</title>
    <link rel="stylesheet" href="css/adicionar.css">
</head>
<body>
    
    <section class="oculto-desktop">
    <header>
        <nav class="grid">
          <a href="/homevendedor">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
          <img src="imagens/logo.png" alt="Logo">
          <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Carrinho">
          </a>
        </nav>
      </header>
    <main>
      <section class="galeria-produto">
        <div class="imagem-principal">
          <img src="imagens/add peça.png" alt="Imagem Principal do Produto">
        </div>
    
        <div class="miniaturas">
          <img src="imagens/add peça 2" alt="Miniatura 1">
          <div class="placeholder"></div>
          <div class="placeholder"></div>
        </div>
      </section>
            <br>
            <center><p class="image-instructions">Clique para editar e arraste para ordenar</p></center> 
            <br>
        </section>

        <form class="item-form">
            <input type="text" placeholder="Nome da peça">
            <input type="text" placeholder="Preço">
            <div class="size-options">
                <button class="size-button">PP</button>
                <button class="size-button">P</button>
                <button class="size-button">M</button>
                <button class="size-button">G</button>
                <button class="size-button">GG</button>
            </div>
            <input type="text" placeholder="Cor">
            <input type="text" placeholder="Estilo">
            <input type="text" placeholder="Condições">
            <input type="text" placeholder="Outros">
        </form>


        <button class="submit-button"><a href="/enviopedido" class="link-branco">Enviar para a curadoria</a> </button>
      </section>

 
      </main>

        <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
        <div class="social-media">
          <p>Siga nossas redes sociais</p>
          <br>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
          </ul>
        </div>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
</body>
</html>
