<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Peça</title>
    <link rel="stylesheet" href="css/adicionar.css">
    <link rel="stylesheet" href="css/adicionar2.css">
</head>
<body>
    
    <section class="oculto-desktop">
    <header>
        <nav class="grid">
          <a href="/homevendedor">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
          <img src="imagens/logo.png" alt="Logo">
          <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Carrinho">
          </a>
        </nav>
      </header>
    <main>
        <section class="add-images">
            <div class="image-upload">
                <div class="main-image">
                    <button class="upload-button"><img src="imagens/camera.png"></button>
                </div>
            </div>
            <br>
            <center><p class="image-instructions">Clique para editar e arraste para ordenar</p></center> 
            <br>
        </section>

        <form class="item-form">
            <input type="text" placeholder="Nome da peça">
            <input type="text" placeholder="Preço">
            <div class="size-options">
                <button class="size-button">PP</button>
                <button class="size-button">P</button>
                <button class="size-button">M</button>
                <button class="size-button">G</button>
                <button class="size-button">GG</button>
            </div>
            <input type="text" placeholder="Cor">
            <input type="text" placeholder="Estilo">
            <input type="text" placeholder="Condições">
            <input type="text" placeholder="Outros">
        </form>


        <button class="submit-button"><a href="/enviopedido" class="link-branco">Enviar para a curadoria</a> </button>
      </section>

      <!--                     desktop           -->
      <section class="oculto-mobile">
        <header-1>
          <section class="top-bar">
              <p>10% OFF na primeira compra</p>
          </section>
          <section class="main-header">
              <img src="imagens/logo.png" alt="Logo Vintelo" class="img-logo">
              <nav>
                  <a href="#">Vestidos</a>
                  <a href="#">Saias</a>
                  <a href="#">Blusas</a>
                  <a href="#">Calças</a>
                  <a href="#">Outros</a>
              </nav>
                  <form>
                      <input type="text" placeholder="Buscar...">
                  </form>
                  <ul>
                      <li><a href="#"><img src="imagens/add brecho.png" class="img-tamanho" ></a></li>
                      <li><a href="#"><img src="imagens/icone saco.png" class="img-tamanho" ></a></li>
                      <li><a href="#"><img src="imagens/icone coraçao.png" class="img-tamanho" ></a></li>
                  </ul>
      </header>
    </section>
          <section class="content">
              <div class="vender-container">
                  <div class="image-section">
                      <img src="imagens/add foto.png" class="main-image">
                      <div class="thumbnail-container">
                          <img src="imagens/add foto.png" alt="Thumbnail 1" class="thumbnail">
                          <img src="imagens/add foto.png" alt="Thumbnail 2" class="thumbnail">
                          <img src="imagens/add foto.png" alt="Thumbnail 3" class="thumbnail">
                          <button class="add-image-button">+</button>
                      </div>
                  </div>
                  
                  <div class="info-section">
                      <label>Nome da peça</label>
                      <input type="text" placeholder="Vestido roxo">
  
                      <label>Preço</label>
                      <input type="text" placeholder="R$ 59,99">
  
                      <label>Cor</label>
                      <input type="text" placeholder="Roxo">
  
                      <label>Estado</label>
                      <select>
                          <option>Sem uso</option>
                          <option>Usado, sem sinais de uso</option>
                          <option>Usado, com sinais de uso</option>
                      </select>
  
                      <label>Tamanho</label>
                      <div class="size-options">
                          <button>P</button>
                          <button>M</button>
                          <button>G</button>
                          <button>GG</button>
                          <button>EG</button>
                      </div>
  
                     <a href="/enviopedido" class="link-branco"><button class="submit-button">Enviar para a curadoria</button></a> 
                  </div>
              </div>
              
              <p class="note">Sua peça será publicada, após análise passar por uma avaliação de até 48 horas caso seja aprovada ela estará disponível para a venda em nossa plataforma.</p>
          </section>
      </section>
      </main>

        <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
        <div class="social-media">
          <p>Siga nossas redes sociais</p>
          <br>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
          </ul>
        </div>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
</body>
</html>
