<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Peça</title>
    <link rel="stylesheet" href="css/adicionar2.css">
</head>
<body>

<!--                     desktop           -->
<section class="oculto-mobile">
        <header>
            <section class="top-bar">
                <p>10% OFF na primeira compra</p>
            </section>
            <section class="main-header">
                <a href="/homecomprador">
                <img src="imagens/logo.png" class="img-logo">
                </a>
                <nav>
                    <a href="#">Vestidos</a>
                    <a href="#">Saias</a>
                    <a href="#">Blusas</a>
                    <a href="#">Calças</a>
                    <a href="#">Outros</a>
                </nav>
                <section class="search-profile">
                    <form>
                        <input type="text" placeholder="Buscar...">
                    </form>
                    <ul>
                        <li><a href="#" ></a><img src="imagens/icone saco.png" class="img-tamanho"> </li>
                        <li><a href="/menuvendedor" ><img src="imagens/maria.png" class="maria"></a> </li>
                        <li><a href="#" ><img src="imagens/icone coraçao.png" class="img-tamanho"> </a></li>
                    </ul>
                </section>
            </section>
        </header>
</section>
<main>
      <section class="content">
          <div class="vender-container">
              <div class="image-section">
                  <img src="imagens/add foto.png" class="main-image">
                  <div class="thumbnail-container">
                      <img src="imagens/add foto.png" alt="Thumbnail 1" class="thumbnail">
                      <img src="imagens/add foto.png" alt="Thumbnail 2" class="thumbnail">
                      <img src="imagens/add foto.png" alt="Thumbnail 3" class="thumbnail">
                      <button class="add-image-button">+</button>
                  </div>
              </div>
              
              <div class="info-section">
                  <label>Nome da peça</label>
                  <input type="text" placeholder="Vestido roxo">

                  <label>Preço</label>
                  <input type="text" placeholder="R$ 59,99">

                  <label>Cor</label>
                  <input type="text" placeholder="Roxo">

                  <label>Estado</label>
                  <select>
                      <option>Sem uso</option>
                      <option>Usado, sem sinais de uso</option>
                      <option>Usado, com sinais de uso</option>
                  </select>

                  <label>Tamanho</label>
                  <div class="size-options">
                      <button>P</button>
                      <button>M</button>
                      <button>G</button>
                      <button>GG</button>
                      <button>EG</button>
                  </div>

                 <a href="/enviopedido" class="link-branco"><button class="submit-button">Enviar para a curadoria</button></a> 
              </div>
          </div>
          
          <p class="note">Sua peça será publicada, após análise passar por uma avaliação de até 48 horas caso seja aprovada ela estará disponível para a venda em nossa plataforma.</p>
      </section>
  </section>
  </main>
          <!-- Rodapé -->
          <footer class="footer">
            <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
            <div class="social-media">
              <p>Siga nossas redes sociais</p>
              <br>
              <ul class="social-links">
                <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
                <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
                <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
              </ul>
            </div>
             <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
          </footer>
    </body>
    </html>