<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Artigos Vintélo</title>
    <link rel="stylesheet" href="css/estilo2.css">
  </head>
  <body>
    <header>
      <nav class="grid">
      <img src="../../public/imagens/metalizado.png">
      <h2>METALIZADO: 7 LOOKS PARA VOCÊ SE
        INSPIRAR</h2>
      <p>“Brilha, brilha, movie star”. A tendência metalizada de 2024 é a oportunidade para você
        transformar cada momento em uma chance para reluzir, incorporando esse brilho
        atemporal ao seu estilo diário, reinventando o básico com um toque de glamour.</p>
      </nav>
    </header>
        <main>
          
          <img src="../../public/imagens/look1.png" class="look1">
        <br>
        <br>
        <br>
        <br>
        <img src="../../public/imagens/look2.png" class="look2">
        <br>
        <br>
        <br>
        <br>
        <img src="../../public/imagens/look3.png" class="look3">
        <br>
        <br>
        <br>
        <br>
        <img src="../../public/imagens/look4.png" class="look4">
        <br>
        <br>
        <br>
        <br>
        <img src="../../public/imagens/look5.png" class="look5">
        <br>
        <br>
        <br>
        <br>
         <center><h2>OCASIÕES PARA APOSTAR NA TENDÊNCIA METALIZADA</h2></center>
         <p>O metalizado se destaca em 2024 como uma tendência versátil, perfeita para diversa
          s ocasiões, desde o oferecendo um toque de sofisticação e modernidade para qualquer look.
         Seja em um encontro casual, uma reunião importante ou uma noite festiva, incorporar
         elementos metalizados é uma forma de expressar individualidade e brilhar em qualquer cenário.
         Deu para ver que o metalizado, em 2024, é sobre brincar com a moda e encontrar sua própria
           voz dentro das tendências, não é mesmo? Não há regras, apenas o convite para experimentar.
           Lembre-se: o brilho metalizado não é mais reservado para as estrelas: é para todos que 
            querem adicionar um pouco de glamour ao seu dia a dia. </p>
        </main>
        <footer>
          <figure class="rodapé">
            <img src="../../public/imagens/rodape.png">
            
          </figure>
  </body>
</html>