<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Artigos Vintélo</title>
    <link rel="stylesheet" href="css/artigos.css">
  </head>
  <body>
    <header>
        <nav class="grid">
          <nav class="menu-hamburger">
   
            <input id="menu-hamburguer" type="checkbox" />
            <label for="menu-hamburguer">
              <div class="menu">
              <span class="hamburguer"></span>
              </div>
            </label>
            
            <ul class="menu-hamburguer-elements show">
            
              <li>
                <a href="#">informações do perfil</a>
              </li>
              <li>
                <a href="#">senha</a>
              </li>
              <li>
                <a href="#">carrinho</a>
              </li>
            
              <li>
                <a href="#">lista de desejos</a>
              </li>
            
              <li>
                <a href="#">configurações</a>
              </li>
            
              <li>
                <a href="#">lista de desejos</a>
              </li>
            </ul>
          </nav>
          <center>
            <a href="/index">
              <img src="imagens/logo.png" class="logo">
            </a> 
          </center>
          <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Descrição da Imagem" />
          </a>
        </nav>
      </header> 
  
        <main>
          <br>
      <nav class="grid-2">
        <center><img src="imagens/metalizado.png"></center>
      <br>
      <br>
      <h3>METALIZADO: 7 LOOKS PARA VOCÊ SE
        INSPIRAR</h3>
      </nav>
      <br>
      <center>
      <p>“Brilha, brilha, movie star”. A tendência metalizada de 2024 é a oportunidade para você
        transformar cada momento em uma chance para reluzir, incorporando esse brilho
        atemporal ao seu estilo diário, reinventando o básico com um toque de glamour.</p>
      </center>
          
          <img src="imagens/look1.png" class="look1">
        <br>
        <br>
        <br>
        <br>
        <img src="imagens/look2.png" class="look2">
        <br>
        <br>
        <br>
        <br>
        <img src="imagens/look3.png" class="look3">
        <br>
        <br>
        <br>
        <br>
        <img src="imagens/look4.png" class="look4">
        <br>
        <br>
        <br>
        <br>
        <img src="imagens/look5.png" class="look5">
        <br>
        <br>
        <br>
        <br>
         <center><h2>OCASIÕES PARA APOSTAR NA TENDÊNCIA METALIZADA</h2></center>
         <p>O metalizado se destaca em 2024 como uma tendência versátil, perfeita para diversa
          s ocasiões, desde o oferecendo um toque de sofisticação e modernidade para qualquer look.
         Seja em um encontro casual, uma reunião importante ou uma noite festiva, incorporar
         elementos metalizados é uma forma de expressar individualidade e brilhar em qualquer cenário.
         Deu para ver que o metalizado, em 2024, é sobre brincar com a moda e encontrar sua própria
           voz dentro das tendências, não é mesmo? Não há regras, apenas o convite para experimentar.
           Lembre-se: o brilho metalizado não é mais reservado para as estrelas: é para todos que 
            querem adicionar um pouco de glamour ao seu dia a dia. </p>
        </main>
         <!-- Rodapé -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <div class="social-media">
        <p>Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
        </ul>
      </div>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>