<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vintélo - Tendências</title>
    <link rel="stylesheet" href="css/blog.css">
</head>
<body>
        <header1>
            <section class="top-bar">
                <p>10% OFF na primeira compra</p>
            </section>
            <section class="main-header">
                <a href="/homevendedor">
                  <img src="imagens/logo.png" alt="Logo Vintelo" class="img-logo">
                </a>
                <nav>
                    <a href="#">Vestidos</a>
                    <a href="#">Saias</a>
                    <a href="#">Blusas</a>
                    <a href="#">Calças</a>
                    <a href="#">Outros</a>
                </nav>
                <form>
                    <input type="text" placeholder="Buscar...">
                </form>
                <section class="search-profile oculto-mobile">
                    <ul>
                        <li><a href="#"><img src="imagens/add brecho.png" class="img-tamanho" alt="Adicionar Brechó"></a></li>
                        <li><a href="/menuvendedor"><img src="imagens/icone saco.png" class="img-tamanho" alt="Perfil"></a></li>
                        <li><a href="#"><img src="imagens/icone coraçao.png" class="img-tamanho" alt="Favoritos"></a></li>
                    </ul>
                </section>
            </section>
        </header>

        <main class="blog-content">
            <section class="featured-post">
                <div class="text-content">
                    <span>05 nov</span>
                    <h3>Style</h3>
                    <h2>Moda Metalizada</h2>
                    <p>“Brilha, brilha, movie star”. A tendência metalizada de 2024 é a oportunidade para você
                        transformar cada momento em uma chance para reluzir, incorporando esse brilho
                        atemporal ao seu estilo diário, reinventando o básico com um toque de glamour.</p>
                    <a href="/artigo" class="read-more">Ver agora</a>
                </div>
                <img src="imagens/metalizado.png" alt="Imagem Destaque Moda Metalizada">
            </section>

            <section class="featured-post">
                <div class="text-content">
                    <span>03 nov</span>
                    <h3>BOSS</h3>
                    <h2>BOSS | Milão Verão 2024</h2>
                    <p>Uma distopia na qual seres humanos se unem às máquinas. Esta não é uma premonição, nem um
                        misto do que já ocorre, mas a sensação transmitida pelo desfile da Boss. Batizada de Techtopia, a coleção focou na alfaiataria clássica da marca, em tons
                        sóbrios como cinza, marrom e azul-marinho. Clássico como era esperado, mas o destaque ficou para os
                        acessórios de cabelo, com coques presos com canetas e grampos definindo penteados.</p>
                    <a href="/artigos" class="read-more">Ver agora</a>
                </div>
                <img src="imagens/boss milão.png" alt="Imagem Destaque Boss">
            </section>

            <section class="featured-post">
                <div class="text-content">
                    <span>25 out</span>
                    <h3>Moda</h3>
                    <h2>Gucci Milão</h2>
                    <p>Sabato de Sarno apresentou sua primeira coleção como diretor criativo da Gucci em Milão.
                        “É uma história de pessoas fabulosas e diversas; são Getty imagens de pessoas legais de todas as idades e são inclusivas,
                        pois todos são bem-vindos”, declarou sobre o desfile em comunicado à imprensa.</p>
                    <a href="/artigos" class="read-more">Ver agora</a>
                </div>
                <img src="imagens/desfile vogue.png" alt="Imagem Destaque Gucci">
            </section>
        </main>

    <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo_vintélo_clara 1.png" alt="Logo do Rodapé" class="footer-image">
        <div class="social-media">
            <p>Siga nossas redes sociais</p>
            <ul class="social-links">
                <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
                <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Twitter"></a></li>
                <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
            </ul>
        </div>
        <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
