<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vintélo - Tendências</title>
    <link rel="stylesheet" href="css/blog.css">
</head>
<body>
    <!-- Layout para dispositivos móveis -->
    <section class="oculto-desktop">
        <header>
            <a href="/homecomprador">
                <img src="imagens/seta.png" alt="Seta Voltar">
            </a>
            <h1>CONHEÇA AS TENDÊNCIAS NA <br><span class="text">VINTÉLO</span></h1>
            <img src="imagens/foto-branca.png" alt="Imagem de capa">
        </header>

        <main class="grid-container">
            <section class="card">
                <img src="imagens/boss milão 2.png" alt="Desfile BOSS">
                <a href="/bossartigo"><h2>BOSS | Milão <br> Verão 2024</h2></a>
            </section>

            <section class="card">
                <img src="imagens/gucci-milao 1.png" alt="Desfile Gucci">
                <a href="/gucciartigo"><h2>Gucci | Milão <br> Verão 2024</h2></a>
            </section>

            <section class="card">
                <img src="imagens/tendencia sweer.png" alt="Tendência Swer">
                <a href="/sweer"><h2>Tendência | Swer</h2></a>
            </section>

            <section class="card">
                <img src="imagens/metalizado2.png" alt="Moda Metalizada">
                <a href="/artigo"><h2>Moda | Metalizada | <br>looks</h2></a>
            </section>

            <section class="card">
                <img src="imagens/tendencia sustentável.png" alt="Tendência Sustentável">
                <a href="/tensustentavel"><h2>A tendência é: <br>Sustentável</h2></a>
            </section>

            <nav class="grid-sustentável">
                <div class="text-content">
                    <h3>MODA <span>Sustentável</span></h3>
                    <p class="subtitle">Fast fashion <br> Moda sustentável</p>
                    <a href="/ecologicoartigo"><p class="description">NOSSO LADO ECOLÓGICO</p></a>
                </div>
                <img src="imagens/moda sustentável.png" alt="Imagem de moda sustentável" class="content">
            </nav>
        </main>
    </section>


    <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo_vintélo_clara 1.png" alt="Logo do Rodapé" class="footer-image">
        <div class="social-media">
            <p>Siga nossas redes sociais</p>
            <ul class="social-links">
                <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
                <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Twitter"></a></li>
                <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
            </ul>
        </div>
        <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
