<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vintélo - Tendências</title>
    <link rel="stylesheet" href="css/blog.css">
</head>
<body>
    <header>
        <a href="/index">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
        <center><h1>CONHEÇA AS TENDÊNCIAS NA Vintélo</h1></center>
    </header>
    
    <main class="grid-container">
        <section class="card">
            <img src="imagens/boss milão 2.png" alt="Desfile BOSS">
            <h2>BOSS | Milão <br> Verão 2024</h2>
        </section>
        
        <section class="card">
            <img src="imagens/gucci-milao 1.png" alt="Desfile Gucci">
            <h2>Gucci | Milão <br> Verão 2024</h2>
        </section>
        
        <section class="card">
            <img src="imagens/tendencia sweer.png" alt="Tendência Swer">
            <h2>Tendência | Swer</h2>
        </section>
        
        <section class="card">
            <img src="imagens/dica look.png" alt="Dicas compor looks">
            <h2>dicas| compor <br>looks</h2>
        </section>
        
        <section class="card">
            <img src="imagens/tendencia sustentável.png" alt="Tendência Sustentável">
            <h2>A tendência é: <br>Sustentável</h2>
        </section>
        
        <section class="card">
            <img src="imagens/kibbe.png" alt="Sistema Kibbe">
            <h2>Sistema Kibbe</h2>
        </section>
        
        <section class="sustainable-fashion">
            <div class="text-content">
                <h3>MODA <span>Sustentável</span></h3>
                <p class="subtitle">Fast fashion <br> Moda sustentável</p>
                <p class="description">NOSSO LADO ECOLÓGICO</p>
            </div>
            <div class="image-content">
                <img src="imagens/moda sustentável.png" alt="Moda sustentável">
            </div>
        </section>
    </main>
</body>
</html>
