<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BOSS | Milão | Verão 2024</title>
    <link rel="stylesheet" href="css/bossartigo.css">
</head>
<body>

    <div class="container">
        <header class="header">
            <button class="back-button">←</button>
            <h1>BOSS | Milão | Verão 2024</h1>
        </header>

        <section class="content">
            <img src="imagens/boss milão" alt="Desfile Boss" class="image-main">
            <p class="subtitle">Vogue - publicado 09/2023</p>
            <p class="description">
                Uma distopia na qual seres humanos se unem às máquinas. Esta não é uma premonição, nem um
                misto do que já ocorre, mas a sensação transmitida pelo desfile da Boss, que aconteceu em Milão
                nesta sexta-feira (22). Batizada de Techtopia, a coleção focou na alfaiataria clássica da marca, em tons
                sóbrios como cinza, marrom e azul-marinho. Clássico como era esperado, mas o destaque ficou para os
                acessórios de cabelo, com coques presos com canetas e grampos definindo penteados.
            </p>

            
            <nav class="grid">
            <img src="imagens/modelo milão 1.png" alt="Modelo Boss" class="image-secondary">
            <p class="description">
                Para nos fazer sentirmos emergidos em um ambiente sci-fi completo, o cenário mais parecia um
                laboratório gigante com pequenas estações espalhadas, onde acompanhávamos reuniões de atores (ou seriam
                robôs?), enquanto o desfile acontecia – reforçando a atmosfera futurista, e com um pouco de estranheza,
                típica de séries como Black Mirror.
            </p>
            </nav>
        </section>
    </div>

</body>
</html>
