<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Cadastro Vintélo</title>
    <link rel="stylesheet" href="css/cadastro.css">
  </head>
  <body>
    <header>
      <nav class="grid">
        <a href="/index">
          <img src="imagens/seta.png" alt="Seta Voltar">
        </a>
        <img src="imagens/logo.png" alt="Logo">
        <a href="/carrinho">
          <img src="imagens/carrinho.png" alt="Carrinho">
        </a>
      </nav>
    </header>
    
    <main>
        <center><img src="imagens/maniquim.png" class="img-responsiva"></center>

        <center>
        <div class="container">
            <div class="content">
              <h1>Sua essência na aparência</h1>
              <p>Crie seu estilo individual e único e fique incrível todos os dias.</p>
               <br>
                <div class="buttons">
                   <a href="/login" class="button">Quero Comprar</a>
                   <a href="/login" class="button">Quero Vender</a>
                </div>
            </div>
        </div>
        </center>
    </main>
    <br>
    <br>
    <br>
    <br>
     <!-- Rodapé -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <div class="social-media">
        <p>Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
        </ul>
      </div>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
</body>
</html>