<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Cadastro Vintélo</title>
    <link rel="stylesheet" href="css/cadastro.css">
  </head>
  <body>
    <header>
      <nav class="nav-grid">
        <a href="/index">
          <img src="imagens/seta.png" alt="Seta Voltar">
        </a>
        <img src="imagens/logo.png" alt="Logo" class="logo">
      </nav>
      

    </header>
    
    <main>
      <div class="container">
        <img src="imagens/maniquim.png" class="img-responsiva" alt="Maniquim">
        <div class="content">
          <h1>Sua essência na aparência</h1>
          <p>Crie seu estilo individual e único e fique incrível todos os dias.</p>
          <br>
          <div class="buttons">
            <a href="/login" class="button">Cadastrar</a>
            <a href="/entrar" class="button">Entrar</a>
          </div>
        </div>
      </div>
    </main>

</body>
</html>