<!DOCTYPE html>n
              </fieldset>
              <br>
              <br>
              <br>
              <br>
            <fieldset class="form-group">
                <label>Endereço de email</label>
                <output class="form-value">
                    maria.lourdes@exemplo.com
                    <span class="status-icon">✔️</span>
                </output>
            </fieldset>
            <br>
            <br>
            <br>
            <br>
            <fieldset class="form-group">
                <label>Adicionar Endereço da Loja</label>
                <output class="form-value">
                    Av. Paulista - São Paulo
                    <span class="status-icon">✔️</span>
                </output>
            </fieldset>
            <br>
            <br>
            <br>
            <br>
            <fieldset class="form-group">
                <label>Contato</label>
                <output class="form-value">
                    (11) 95730-5748
                    <span class="status-icon">✔️</span>
                </output>
            </fieldset>
            <br>
            <br>
            <br>
            <br>
                <button class="save-button">Salvar</button>
        </form>
    </main>    
    <br>
    <br>
    <br>
    <br>
     <!-- Rodapé -->
     <footer class="footer">
        <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
        <section class="social-media">
          <p>Siga nossas redes sociais</p>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
          </ul>
        </section>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
  