<!DOCTYPE html>
 <html>
  <head>
    <meta charset="UTF-8">
    <title>Crie seu Brechó</title>
    <link rel="stylesheet" href="css/continuarcadastro.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  </head>
    <body>
        <header>
              <nav class="grid">
                <a href="/login">
                 <img src="imagens/seta.png" alt="Seta Voltar">
                </a>
                <img src="imagens/logo.png" alt="Logo">
                <a href="/carrinho">
                 <img src="imagens/carrinho.png" alt="Carrinho">
                </a>
              </nav>
            </center>
          </header>
         <br>
         <br>
        <main class="container">
           <h1>Complete seu cadastro</h1>
       
           <section class="profile-section">
             <img src="imagens/maria.png" alt="Maria de Lourdes" class="profile-pic">
             <span class="edit-icon"><img src="imagens/edit.png"> </span>
             <p class="profile-name">Maria de Lourdes</p>
           </section>
       
           <form class="form">
             <label for="nome-completo">Nome completo</label>
             <input type="text" id="nome-completo" value="Maria de Lourdes Felix Gonçalves" readonly>
 
             <br>
             <label for="contato">Contato</label>
             <input type="text" id="contato" value="(11) 95730-5748" readonly>

             <br>
             <label for="cpf">Adicionar CPF</label>
             <input type="text" id="cpf" value="098765439/46" readonly>

             <br>
             <label for="endereco">Adicionar endereço</label>
             <input type="text" id="endereco" value="Av. Paulista - São Paulo" readonly>

        </main>
            <footer>
             <button type="submit" class="submit-btn"> <a href="/pedidoconf" class="link-branco">Cadastrar-se</a></button>
            </form>
         </main>
        </footer>
       </body>
       </html>