<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Brechó - Vintélo</title>
    <link rel="stylesheet" href="css/criarbrecho.css">
</head>
<body>
    <header>
        <nav class="grid">
            <a href="/homecomprador">
                <img src="imagens/seta.png" alt="Seta Voltar">
            </a>
            <img src="imagens/logo.png" alt="Logo" class="logo-vintelo">
            <a href="/carrinho">
              <img src="imagens/carrinho.png" alt="carrinho" class="carrinho">
            </a>
        </nav>
    </header>

    <main>
        
        <section class="container">
            <aside class="image-section">
                <img src="imagens/maniquim.png" alt="Mannequin" class="mannequin">
            </aside>

            <section class="form-section">
                <center><h2>Crie seu brechó</h2></center>
                <p>Insira os dados do seu brechó</p>
                
                <div class="profile-section">
                    <img src="imagens/maria.png" alt="Foto do Perfil" class="profile-img">
                    <button class="edit-icon">✎</button>
                </div>

                <br>
                <form action="#" method="post">
                    <div class="form-group">
                     <label for="username"><h1>Nome de usuário</h1></label>
                      <input type="text" id="username" name="username" placeholder="Digite seu nome" required>
                    </div>
                     <br>
                    <div class="form-group">
                     <label for="email"><h1>Endereço de email</h1></label>
                      <input type="email" id="email" name="email" placeholder="conta.sanders@exemplo.com" required>
                    </div>
                    <br>
                    <div class="form-group">
                     <label for="password"><h1>Senha</h1></label>
                      <input type="password" id="password" name="password" placeholder="HJ@#9783kja" required>
                    </div>
                    </form>
                <br>
                <h3>Onde deseja receber?</h3>

                <nav class="grid-pagamento">
                    <img src="imagens/visa.png" alt="Visa Cartão">
                    <p class="pagamento">Adicionar cartão</p>
                    <span class="error-icon">❌</span>
                </nav>

                <nav class="grid-pagamento">
                    <img src="imagens/boleto.png" alt="Boleto">
                    <p class="pagamento">Boleto</p>
                    <span class="check-icon-2">✔</span>
                </nav>

                <nav class="grid-pagamento">
                    <button class="add-option">+</button>
                    <p class="pagamento">Outra forma</p>
                    <span class="check-icon-2">✔</span>
                </nav>
              <button class="create-button" disabled><a href="/perfilvender" class="link-branco">Criar brechó</a></button>
            </section>
        </section>
    </main>
</body>
</html>
