<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/entrar.css">
  </head>
  <body>
<header>
    <button class="back-btn">&#8592;</button>
    <img src="imagens/logo.png" alt="Logo Vintélo" class="logo">
  </header>
  
  <main>
    <h1>Entrar</h1>
    <p class="description">Acesse usando seu cadastro de outra plataforma</p>
  
    <section class="social-login">
      <button class="social-btn facebook">f</button>
      <button class="social-btn twitter">t</button>
      <button class="social-btn google">g</button>
    </section>
  
    <p class="divider">ou acesse via email</p>
  
    <form>
      <label for="username">Email ou nome de usuário</label>
      <input type="text" id="username" value="Maria">
      <span class="check-mark">✔</span>
  
      <label for="password">Senha</label>
      <input type="password" id="password" value="HJ@#9783kja">
      <span class="password-strength">Forte</span>
    </form>
  
    <a href="#" class="forgot-password">Esqueceu sua senha?</a>
  
    <label class="stay-connected">
      <input type="checkbox" checked>
      <span class="toggle"></span>
      Mantenha-me conectado
    </label>
  
    <button class="login-btn">Entrar</button>
  </main>
  