<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/entrar.css">
  </head>
  <body>
    <header>
      <nav class="grid">
        <a href="/cadastro">
          <img src="imagens/seta.png" alt="Seta Voltar">
        </a>
        <img src="imagens/logo.png" alt="Logo">
        <a href="/carrinho">
          <img src="imagens/carrinho.png" alt="Carrinho">
        </a>
      </nav>
    </header>
  <br>
  <br>
  <main>
    <h1>Entrar</h1>
    <p class="description">Acesse usando seu cadastro de outra plataforma</p>
  
    <section class="social-login">
      <a href="#"><img src="imagens/face.jpg" alt="Facebook"></a>
      <a href="#"><img src="imagens/insta.jpg" alt="Instagram"></a>
      <a href="#"><img src="imagens/google.jpg" alt="Google"></a>
    </section>
  
    <p class="divider">ou acesse via email</p>
    <br>
    <form id="loginForm" action="#" method="post">
        <section class="form-group">
            <label for="email_usu">Endereço de email</label>
            <input type="email" id="email_usu" name="email_usu" placeholder="conta.sanders@exemplo.com" required>
        </section>
     
        <section class="form-group">
            <label for="senha_usu">Senha</label>
            <input type="password" id="senha_usu" name="senha_usu" placeholder="Digite sua senha..." required>
        </section>
        <a href="/esqueceusenha" class="forgot-password">Esqueceu sua senha?</a>
        <br>
        <section class="checkbox-group">
            <label class="stay-connected">
                <input type="checkbox" checked>
                <span class="toggle"></span>
                Mantenha-me conectado
            </label>
            <label class="stay-connected">
                <input type="checkbox" checked>
                <span class="toggle"></span>
                Receber notificações
            </label>
            <label class="stay-connected">
                <input type="checkbox" checked>
                <span class="toggle"></span>
                Li e concordo com os Termos de Uso
            </label>
        </section>
    </form>
  </main>
   <button type="submit" class="login-btn">Entrar</button>
 </body>
</html>