<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>estatistica</title>
    <link rel="stylesheet" href="css/estatistica.css">
  </head>
  <body>
    <section class="oculto-mobile">
      <header1>
        <section class="top-bar">
            <p>10% OFF na primeira compra</p>
        </section>
        <section class="main-header">
          <a href="/homevendedor">
            <img src="imagens/logo.png" class="img-logo">
          </a>
            <nav>
                <a href="#">Vestidos</a>
                <a href="#">Saias</a>
                <a href="#">Blusas</a>
                <a href="#">Calças</a>
                <a href="#">Outros</a>
            </nav>
            <section class="search-profile">
                <form>
                    <input type="text" placeholder="Buscar...">
                </form>
                <ul>
                    <li><a href="#" ></a><img src="imagens/add brecho.png" class="img-tamanho"> </li>
                    <li><a href="/menuvendedor" ><img src="imagens/maria.png" class="img-tamanho"> </a></li>
                    <li><a href="#" ><img src="imagens/icone coraçao.png" class="img-tamanho"> </a></li>
                </ul>
            </section>
        </section>
      </header>
    </section>
    <section class="oculto-desktop">
    <header>
      <nav class="grid">
        <a href="/homevendedor">
          <img src="imagens/seta.png" alt="Seta Voltar">
        </a>
        <img src="imagens/logo.png" alt="Logo">
        <a href="/carrinho">
          <img src="imagens/carrinho.png" alt="Carrinho">
        </a>
      </nav>
    </header>
  </section>
    <main>
      <br>
      <br>
      <center><h3 class="titulo">Estatísticas de Vendas</h3></center>
      <img src="imagens/estatisticas.png" class="estatistica">
    </main>
  <!--                                                    Rodapé                                                      -->
  <footer class="footer">
    <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
    <section class="social-media">
      <p class="p-footer">Siga nossas redes sociais</p>
      <ul class="social-links">
        <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
        <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Pinterest"></a></li>
        <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
      </ul>
    </section>
     <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
  </footer>
</body>
</html>