<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/estilo.css">

  </head>
  <body>

    <header>

      <center> <section class="banner"><img src="imagens/off.gif" alt="Banner GIF" class="img-responsiva"></section>
      </center> 
      
      <br>

      <nav class="grid">
        <nav class="menu-hamburger">
 
          <input id="menu-hamburguer" type="checkbox" />
          <label for="menu-hamburguer">
            <div class="menu">
            <span class="hamburguer"></span>
            </div>
          </label>
          
          <ul class="menu-hamburguer-elements show">
          
            <li>
              <a href="#">informações do perfil</a>
            </li>
            <li>
              <a href="#">senha</a>
            </li>
            <li>
              <a href="#">carrinho</a>
            </li>
          
            <li>
              <a href="#">lista de desejos</a>
            </li>
          
            <li>
              <a href="#">configurações</a>
            </li>
          
            <li>
              <a href="#">lista de desejos</a>
            </li>
          </ul>
        </nav>
        <center> <img src="imagens/logo.png" class="logo"> </center>
        <a href="/carrinho">
          <img src="imagens/carrinho.png" alt="Descrição da Imagem" />
        </a>
      </nav>
      <br>
      <p>Bem-Vindo ao site vintélo.</p>
    </header>
     <br>
    <main>
       <br>
      <!--barra de pesquisa -->
      <div class="search-container">  
        <label for="search-input" class="search-icon"></label>  
        <label for="search-input" class="search-icon"></label>  
      </div>
       <br>
       <br>
       <br>
      <div class="carousel-container">
        <div class="carousel-slide">
          <img src="imagens/coleçao outono.jpeg" alt="Imagem 1">
          <img src="imagens/banner primeira compra.jpeg" alt="Imagem 2">
          <img src="imagens/banner boss.jpeg" alt="Imagem 3">
        </div>
        <div class="carousel-indicators">
          <div class="active"></div>
        </div>
      </div>
       <br>
       <br>
       <br>
       <br>

        
          
      
        <br>
        <br>
        <h2>Navegue Por Categoria</h2>
        
        <nav class="grid-2">
         <a href="/vestidos" class="perfil-btn">Vestidos</a>
         <a href="/saias" class="perfil-btn">Saias</a>
         <a href="/blusas" class="perfil-btn">Blusas</a>
         <a href="/acessorios" class="perfil-btn">Acessórios</a>
        </nav>
          
  
      
         <br>
         <center><h2>Novidades</h2></center>   

  
  
        <section class="Produtos">
         <nav class="grid">
            <ul class="linha">
              <li class="celula">
                <a link href="/produto1">
                  <img src="imagens/regata branca - Copia.png">
                </a>
                <p class="legenda">Regata Branca</p>
                <p class="legenda">R$19,99</p>
              </li>
            </ul>

            <ul class="linha">
             <li class="celula">
              <a link href="/produto2">
                <img src="imagens/vestido branco - Copia.png">
              </a>
              <p class="legenda">Vestido Branco</p>
              <p class="legenda">R$29,99</p>
             </li>
            </ul>
            
          </nav>
           <br>
           <br>
           <br>
          <nav class="grid">
            <ul class="linha">
              <li class="celula">
                <a link href="/produto3">
                  <img src="imagens/vestido roxo - Copia.png">
                </a>
                <p class="legenda">Vestido Roxo</p>
                <p class="legenda">R$20,00</p>
              </li>
            </ul>

            <ul class="linha">
              <li class="celula">
                <a link href="/produto4">
                  <img src="imagens/conjunto de blusa rosa - Copia.png">
                </a>
                <p class="legenda">Conjunto Rosa</p>
                <p class="legenda">R$25,00</p>
              </li>
            </ul>
          </nav>
       </section>
         <br>
         <br>
         <br>
         <br>
        <section class="exemplo de anuncio">
          <center><img src="imagens/exemplo de anuncio.png" class="img-responsiva"></center>
        </section>
         <br>
         <br>
         <br>
         <br>
        <section class="brechós"></section>
  
          <h2>Encontre outros Brechós</h2>
            <br>
            <nav class="grid">
              <section class="perfis">
                <div class="perfil-item">
                  <img class="perfil-img" src="imagens/brecho1.png" alt="Perfil Karine" />
                  <figcaption class="Nome">Karine</figcaption>
                  <p class="avaliacao">4.8 avaliação</p>
                  <br>
                </div>
              </section>
             <button class="perfil-btn" onclick="visitarPerfil('https://link-para-perfil-karine.com')">Visitar Perfil</button>
            </nav>
             
            <nav class="grid">
              <section class="perfis">
                <div class="perfil-item">
                  <img class="perfil-img" src="imagens/brecho2.png" alt="Perfil Coisitas" />
                  <figcaption class="Nome">Coisitas</figcaption>
                  <p class="avaliacao">4.9 avaliação</p>
                </div>
              </section>
              <button class="perfil-btn" onclick="visitarPerfil('https://link-para-perfil-coisitas.com')">Visitar Perfil</button>
            </nav>
    
            <nav class="grid">
              <section class="perfis">
                <div class="perfil-item">
                  <img class="perfil-img" src="imagens/brecho3.png" alt="Perfil Mayte" />
                  <figcaption class="Nome">Mayte</figcaption>
                  <p class="avaliacao">4.9 avaliação</p>
                  <br>
                </div>
              </section>
              <button class="perfil-btn" onclick="visitarPerfil('https://link-para-perfil-mayte.com')">Visitar Perfil</button>
            </nav>
    

            <a href="/cadastro">  
              <center><img src="imagens/cadastro.png" class="img-responsiva"></center>
            </a>
  
  
        <section class="grid-container">
          <div class="artigos">

            <header>
              <h2>Tendências na Vintélo</h2>
              <img src="imagens/boss milão.png" alt="Boss Milão Verão">
              <p class="boss-milao-verao">B0SS | MILÃO | VERÃO</p>
              <a href="/artigo">Ler agora</a>
            </header>
          </div>
        </section>
  
    </main>
    <!-- Rodapé -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <div class="social-media">
        <p>Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="facebook-icon.png" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="twitter-icon.png" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="instagram-icon.png" alt="Instagram"></a></li>
        </ul>
      </div>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
  