<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/estilo.css">
  </head>
  <body>
    <center>
      <div class="discount-banner">
       <span class="highlight"><img-responsiva>10% OFF Na primeira compra</span>
     </div>
     </center>   
     <br>
    <header>
      <nav class="grid">
        <nav class="menu-hamburger">
 
          <input id="menu-hamburguer" type="checkbox" />
          <label for="menu-hamburguer">
            <div class="menu">
            <span class="hamburguer"></span>
            </div>
          </label>
          
          <ul class="menu-hamburguer-elements show">
          
            <li>
              <a href="#">informações do perfil</a>
            </li>
            <li>
              <a href="#">senha</a>
            </li>
            <li>
              <a href="#">carrinho</a>
            </li>
          
            <li>
              <a href="#">lista de desejos</a>
            </li>
          
            <li>
              <a href="#">configurações</a>
            </li>
          
            <li>
              <a href="#">lista de desejos</a>
            </li>
          </ul>
        </nav>
        <center> <img src="imagens/logo.png" class="logo"> </center>
        <a href="/cadastro">
          <img src="imagens/imagem sem perfil.png" alt="Descrição da Imagem" />
        </a>
      </nav>
    </header>
    <main>
      <p>Bem-Víndo ao site Vintélo</p>
      <br>
      <!--                                        barra de pesquisa                                              -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
          <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" class="search-box" placeholder="Buscar...">
          </div>
       <br>
       <br>
       <br>
       <!--                                       Carrossel de banners                                              -->
      <div class="carousel-container">
        <div class="carousel-slide">
          <img src="imagens/coleçao outono.jpeg" alt="Imagem 1">
          <img src="imagens/banner primeira compra.jpeg" alt="Imagem 2">
          <img src="imagens/banner boss.jpeg" alt="Imagem 3">
        </div>
        <div class="carousel-indicators">
          <div class="active"></div>
        </div>
      </div>
       <br>
       <!--                                      Carrossel das categorias                                              -->
      <nav class="category-nav">
        <h3>Navegue por <span>categoria</span></h3>
        <br>
        <center>
        <div class="carousel-container">
            <ul>
                <li><a href="/vestidos">Vestidos</a></li>
                <li><a href="/saias">Saias</a></li>
                <li><a href="/blusas">Blusas</a></li>
                <li><a href="/acessorios">Acessórios</a></li>
                <li><a href="/blusas">Calças</a></li>
                <li><a href="/acessorios">Calçados</a></li>
            </ul>
        </div>
      </center>
      </nav>
         <br>
         <!--                                    Seção dos produtos                                              -->
         <center><h3>Novidades</h3></center>   
        <section class="Produtos">
         <nav class="grid">
            <ul class="linha">
              <li class="celula">
                <a link href="/produto1">
                  <img src="imagens/regata branca - Copia.png">
                </a>
                <p class="legenda">Regata Branca</p>
                <p class="legenda">R$19,99</p>
              </li>
            </ul>

            <ul class="linha">
             <li class="celula">
              <a link href="/produto2">
                <img src="imagens/vestido branco - Copia.png">
              </a>
              <p class="legenda">Vestido Branco</p>
              <p class="legenda">R$29,99</p>
             </li>
            </ul>
            
          </nav>
           <br>
           <br>
           <br>
          <nav class="grid">
            <ul class="linha">
              <li class="celula">
                <a link href="/produto3">
                  <img src="imagens/vestido roxo - Copia.png">
                </a>
                <p class="legenda">Vestido Roxo</p>
                <p class="legenda">R$20,00</p>
              </li>
            </ul>

            <ul class="linha">
              <li class="celula">
                <a link href="/produto4">
                  <img src="imagens/conjunto de blusa rosa - Copia.png">
                </a>
                <p class="legenda">Conjunto Rosa</p>
                <p class="legenda">R$25,00</p>
              </li>
            </ul>
          </nav>
       </section>
         <br>
         <br>
         <!--                                        banner de anuncio                                             -->
        <section class="ad-container">
          <article class="ad-left">
            <h1>Exemplo</h1>
            <p>de anúncio!</p>
          </article>
          <aside class="ad-right">
            <h2>Anúncio</h2>
            <p>aqui</p>
          </aside>
        </section>
         <br>
         <br>
         <br>
         <!--                                        Perfil dos Brechós                                              -->
         <h2>Encontre outros Brechós</h2>
         <br>
         <br>
         <ul class="profile-list">
           <li class="profile-item">
               <img src="imagens/brecho1.png" alt="Mayte" class="profile-image">
               <div class="profile-info">
                   <strong>Mayte</strong>
                   <span class="rating">4.8 <small>avaliação</small></span>
                   <div class="stars">★★★★★</div>
               </div>
               <a href="/perfil1"><button class="follow-button">Seguir</button></a>
           </li>
           <br>
           <br>
           <li class="profile-item">
               <img src="imagens/brecho2.png" alt="Karine" class="profile-image">
               <div class="profile-info">
                   <strong>Karine</strong>
                   <span class="rating">4.3 <small>avaliação</small></span>
                   <div class="stars">★★★★☆</div>
               </div>
               <a href="/perfil2"><button class="follow-button">Seguir</button></a>
           </li>
           <br>
           <br>
           <li class="profile-item">
               <img src="imagens/brecho3.png" alt="Coisitas" class="profile-image">
               <div class="profile-info">
                   <strong>Coisitas</strong>
                   <span class="rating">4.2 <small>avaliação</small></span>
                   <div class="stars">★★★★☆</div>
               </div>
               <a href="/perfil3"><button class="follow-button">Seguir</button></a>
           </li>
       </ul>
           <br>
           <br>
           <br>
           <br>
           <br>
           <!--                                       banner de cadastro                                              -->
            <a href="/cadastro">  
              <center><img src="imagens/cadastro.png" class="img-responsiva"></center>
            </a>
            <br>
            <br>
            <br>
            <br>
            <!--                                        banner de anúncio                                              -->
            <section class="ad-container">
              <article class="ad-left">
                <h1>Exemplo</h1>
                <p>de anúncio!</p>
              </article>
              <aside class="ad-right">
                <h2>Anúncio</h2>
                <p>aqui</p>
              </aside>
            </section>
            <br>
            <br>
            <!--                                        Seção de artigos                                             -->
            <h3>Tendências na Vintélo</h3>  
            <br>
            <section class="carousel-container">
              <button class="prev">&#10094;</button>
              <section class="carousel-slide">
                <figure>
                  <img src="imagens/boss milão.png" alt="Boss Milão Verão">
                </figure>
                <figure>
                  <img src="imagens/desfile vogue.png" alt="Desfile Vogue">
                </figure>
                <figure>
                  <img src="imagens/boss.jpg" alt="Boss">
                </figure>
              </section>
              <button class="next">&#10095;</button>
            </section>
            
            <nav class="carousel-indicators"></nav>
            
            <article>
              <p class="boss-milao-verao">BOSS | MILÃO | VERÃO</p>
              <a href="/bossartigo">Ler agora</a>
            </article>
            
  
        <br>
        <br>
    </main>
    <!--                                                    Rodapé                                                      -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <div class="social-media">
        <p>Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
        </ul>
      </div>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
  