<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/estilo.css">
  </head>
  <body>
    <center>
      <div class="discount-banner">
       <span class="highlight"><img-responsiva>10% OFF Na primeira compra</span>
     </div>
     </center>   
     <br>
    <header>
      <nav class="grid">
        <nav class="menu-hamburger">
 
          <input id="menu-hamburguer" type="checkbox" />
          <label for="menu-hamburguer">
            <div class="menu">
            <span class="hamburguer"></span>
            </div>
          </label>
          
          <ul class="menu-hamburguer-elements show">
          
            <li>
              <a href="#"><img src="imagens/icone informaçao.png"> informações do perfil</a>
            </li>
            <li>
              <a href="/sacola1"><img src="imagens/icone sacola.png">Sacola</a>
            </li>
            <li>
              <a href="#"><img src="imagens/caminhao.png">Minhas compras</a>
            </li>
          
            <li>
              <a href="#"><img src="imagens/cartao.png">Meus Cartões</a>
            </li>
          
            <li>
              <a href="/favoritos"><img src="imagens/coraçao de fav.png">Lista de Desejos</a>
            </li>
          
            <li>
              <a href="/blog"><img src="imagens/icone blog.png">Blog</a>
            </li>
          </ul>
        </nav>
        <center> <img src="imagens/logo.png" class="logo"> </center>
        <a href="/cadastro">
          <img src="imagens/imagem sem perfil.png" alt="Descrição da Imagem" />
        </a>
      </nav>
    </header>
    <main>
      <p>Bem-Víndo ao site Vintélo</p>
      <br>
      <!--                                        barra de pesquisa                                              -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
          <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" class="search-box" placeholder="Buscar...">
          </div>
       <br>
       <br>
       <br>
       <!--                                       Carrossel de banners                                              -->
      <div class="carousel-container">
        <div class="carousel-slide">
          <img src="imagens/coleçao outono.jpeg" alt="Imagem 1">
          <img src="imagens/banner primeira compra.jpeg" alt="Imagem 2">
          <img src="imagens/banner boss.jpeg" alt="Imagem 3">
        </div>
        <div class="carousel-indicators">
          <div class="active"></div>
        </div>
      </div>
       <br>
       <!--                                      Carrossel das categorias                                              -->
      <nav class="category-nav">
        <h3>Navegue por <span>categoria</span></h3>
        <br>
        <center>
        <div class="carousel-container">
            <ul>
                <li><a href="/vestidos">Vestidos</a></li>
                <li><a href="/saias">Saias</a></li>
                <li><a href="/blusas">Blusas</a></li>
                <li><a href="/acessorios">Acessórios</a></li>
                <li><a href="/blusas">Calças</a></li>
                <li><a href="/acessorios">Calçados</a></li>
            </ul>
        </div>
      </center>
      </nav>
         <br>
         <!--                                    Seção dos produtos                                              -->
         <center><h3>Novidades</h3></center>   

         <ul class="product-list">
          <li class="product-suggestion">
            <a link href="/produto1">
              <img src="imagens/regata branca - Copia.png" alt="regata branca">
              <p>Regata Branca</p>
              <p>R$19,99</p>
          </a>
          </li>
          <li class="product-suggestion">
            <a link href="/produto2">
              <img src="imagens/vestido branco - Copia.png" alt="vestido branco">
              <p>Vestido Branco</p>
              <p>R$29,99</p>
            </a>
          </li>
          <li class="product-suggestion">
            <a link href="/produto3">
              <img src="imagens/vestido roxo - Copia.png" alt="Vestido Roxo">
              <p>Vestido Roxo</p>
             <p>R$20,00</p>
          </a>
          </li>
          <li class="product-suggestion">
            <a link href="/produto4">
              <img src="imagens/conjunto de blusa rosa - Copia.png" alt="Saia Rosa Brilhante">
              <p>Conjunto Rosa</p>
             <p>R$25,00</p>
           </a>
          </li>
          <li class="product-suggestion">
            <img src="imagens/saia marrom de couro-2.png" alt="Saia de Vinil">
            <p>Saia de Vinil</p>
            <p>R$25,00</p>
          </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
       <ul class="product-list">
        <li class="product-suggestion">
          <img src="imagens/conjunto.png" alt="Saia Branca">
          <p>Saia Branca</p>
          <p>R$25,00</p>
        </li>
        <li class="product-suggestion">
          <img src="imagens/saia preta.png" alt="Saia Preta">
          <p>Saia Preta</p>
          <p>R$30,00</p>
        </li>
        <li class="product-suggestion">
            <img src="imagens/saia marrom-2.png" alt="Saia de Veludo">
            <p>Saia de Veludo</p>
            <p>R$25,00</p>
        </li>
        <li class="product-suggestion">
            <img src="imagens/saia rosa brilhante-2.png" alt="Saia Rosa Brilhante">
            <p>Saia Rosa Brilhante</p>
            <p>R$25,00</p>
        </li>
        <li class="product-suggestion">
            <img src="imagens/saia marrom de couro-2.png" alt="Saia de Vinil">
            <p>Saia de Vinil</p>
            <p>R$25,00</p>
        </li>
      </ul>


         <br>
         <br>
         <!--                                        banner de anuncio                                             -->
        <section class="ad-container">
          <article class="ad-left">
            <h1>Exemplo</h1>
            <p>de anúncio!</p>
          </article>
          <aside class="ad-right">
            <h2>Anúncio</h2>
            <p>aqui</p>
          </aside>
        </section>
         <br>
         <br>
         <br>
         <!--                                        Perfil dos Brechós                                              -->
         <h2>Encontre outros Brechós</h2>
         <br>
         <br>
         <ul class="profile-list">
           <li class="profile-item">
               <img src="imagens/brecho1.png" alt="Mayte" class="profile-image">
               <div class="profile-info">
                   <strong>Mayte</strong>
                   <span class="rating">4.8 <small>avaliação</small></span>
                   <div class="stars">★★★★★</div>
               </div>
               <a href="/perfil1"><button class="follow-button">Seguir</button></a>
           </li>
           <br>
           <br>
           <li class="profile-item">
               <img src="imagens/brecho2.png" alt="Karine" class="profile-image">
               <div class="profile-info">
                   <strong>Karine</strong>
                   <span class="rating">4.3 <small>avaliação</small></span>
                   <div class="stars">★★★★☆</div>
               </div>
               <a href="/perfil2"><button class="follow-button">Seguir</button></a>
           </li>
           <br>
           <br>
           <li class="profile-item">
               <img src="imagens/brecho3.png" alt="Coisitas" class="profile-image">
               <div class="profile-info">
                   <strong>Coisitas</strong>
                   <span class="rating">4.2 <small>avaliação</small></span>
                   <div class="stars">★★★★☆</div>
               </div>
               <a href="/perfil3"><button class="follow-button">Seguir</button></a>
           </li>
       </ul>
           <br>
           <br>
           <br>
           <br>
           <br>
           <!--                                       banner de cadastro                                              -->
            <a href="/cadastro">  
              <center><img src="imagens/cadastro.png" class="img-responsiva"></center>
            </a>
            <br>
            <br>
            <br>
            <br>
            <!--                                        banner de anúncio                                              -->
            <section class="ad-container">
              <article class="ad-left">
                <h1>Exemplo</h1>
                <p>de anúncio!</p>
              </article>
              <aside class="ad-right">
                <h2>Anúncio</h2>
                <p>aqui</p>
              </aside>
            </section>
            <br>
            <br>
            <!--                                        Seção de artigos                                             -->
              
            <article class="carousel">
              <button class="br-button carousel-btn-prev terciary circle" type="button" aria-label="Anterior">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>
              </button>
              
              <section class="carousel-stage">
                <figure class="carousel-page active" role="group" aria-roledescription="slide" aria-live="polite">
                  <img src="imagens/boss.png" alt="Página 1" class="carousel-content">
                  <figcaption class="carousel-title">Página 1</figcaption>
                </figure>
                <figure class="carousel-page" role="group" aria-roledescription="slide" aria-live="polite">
                  <img src="imagens/desfile vogue.png" alt="Página 2" class="carousel-content">
                  <figcaption class="carousel-title">Página 2</figcaption>
                </figure>
                <figure class="carousel-page" role="group" aria-roledescription="slide" aria-live="polite">
                  <img src="imagens/gucci-milao 1.png" alt="Página 3" class="carousel-content">
                  <figcaption class="carousel-title">Página 3</figcaption>
                </figure>
                <figure class="carousel-page" role="group" aria-roledescription="slide" aria-live="polite">
                  <img src="imagens/boss milao.png" alt="Página 4" class="carousel-content">
                  <figcaption class="carousel-title">Página 4</figcaption>
                </figure>
              </section>
              
              <button class="br-button carousel-btn-next terciary circle" type="button" aria-label="Próximo">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </button>
            </article>            
        <br>
        <br>
    </main>
    <!--                                                    Rodapé                                                      -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <div class="social-media">
        <p>Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
        </ul>
      </div>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
  