<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>

    <header>
      <nav class="grid">
        <a href="/index">
          <img src="imagens/seta.png" alt="Seta Voltar">
        </a>
        <img src="imagens/logo.png" alt="Logo">
        <a href="/carrinho">
          <img src="imagens/carrinho.png" alt="Carrinho">
        </a>
      </nav>
    </header>
    
    <main>
      <br>
      <br>
      <br>
      <br>
       <center><h2>Bem-Vindo</h2></center> 
       <center><p>Por favor insira seus dados para continuar</p></center> 
         <br>
         <br>
         <br>

        <div class="social-login">
            <a href="#" ><img src="imagens/face.jpg"></a>
            <a href="#" ><img src="imagens/insta.jpg"></a>
            <a href="#" ><img src="imagens/google.jpg"></a>
        </div>
         <br>
         <br>
         <br>
          <p class="divider">ou acesse via email</p>
          <br>
          <br>
          <br>
          <br>
        <form action="#" method="post">
          <div class="form-group">
           <label for="username"><h1>Nome de usuário</h1></label>
            <input type="text" id="username" name="username" placeholder="Maria de Lourdes" required>
          </div>
           <br>
           <br>
           <br>
           <br>
          <div class="form-group">
           <label for="email"><h1>Endereço de email</h1></label>
            <input type="email" id="email" name="email" placeholder="conta.sanders@exemplo.com" required>
          </div>
           <br>
           <br>
           <br>
           <br>
          <div class="form-group">
           <label for="password"><h1>Senha</h1></label>
            <input type="password" id="password" name="password" placeholder="HJ@#9783kja" required>
             <p class="password-strength">Forte</p>
          </div>
           <br>
           <br>
           <br>
           <br>
          <div class="checkbox-group">
            <label>
             <input type="checkbox" name="stay-connected" checked>
                             Mantenha-me conectado
            </label>
             <br>
            <label>
              <input type="checkbox" name="notifications" checked>
                             Receber notificações
            </label>
             <br>
            <label>
             <input type="checkbox" name="terms" required>
                             Li e concordo com os <a href="#">Termos de Uso</a>
            </label>
          </div>
                <br>
                <br>
                <br>
        </form>
    </div>

    </main>

      <!-- Rodapé -->
    <footer class="footer">
      <button type="submit" class="submit-btn">
        <a href="/continuarcadastro" class="link-branco">Continuar cadastro</a>
      </button>      
    </footer>

</body>
</html>