<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintelo - Perfil do Usuário</title>
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
    <header>
        <section class="top-bar">
            <p>10% OFF na primeira compra</p>
        </section>
        <section class="main-header">
            <a href="/homecomprador">
            <img src="imagens/logo.png" class="img-logo">
            </a>
            <nav>
                <a href="#">Vestidos</a>
                <a href="#">Saias</a>
                <a href="#">Blusas</a>
                <a href="#">Calças</a>
                <a href="#">Outros</a>
            </nav>
            <section class="search-profile">
                <form>
                    <input type="text" placeholder="Buscar...">
                </form>
                <ul>
                    <li><a href="#" ></a><img src="imagens/add brecho.png" class="img-tamanho"> </li>
                    <li><a href="#" ></a><img src="imagens/imagem sem cadastro.avif" class="maria"> </li>
                    <li><a href="#" ><img src="imagens/icone coraçao.png" class="img-tamanho"> </a></li>
                </ul>
            </section>
        </section>
    </header>
    
    <main>
        <aside class="user-sidebar">
            <section class="user-info">
                <img src="imagens/imagem sem cadastro.avif" alt="Foto de perfil de Maria de Lourdes">
                <h2>Laviviana</h2>
                <p>laviviana@exemplo.com</p>
            </section>
            <nav class="user-menu">
                <a href="#">Informação da conta</a>
                <a href="/sacola1">Sacola</a>
                <a href="/minhascomprasdesktop">Minhas compras</a>
                <a href="#">Meus cartões</a>
                <a href="/favoritos">Favoritos</a>
                <a href="/blogdesktop">Blog</a>
                <a href="/estatistica">Estatística de Vendas</a>
                <a href="/pedidosdesktop">Pedidos</a>
                <a href="#">Tornar-se Premium</a>
                <a href="#">Sair</a>
            </nav>
        </aside>

        <section class="user-content">
            <section class="orders">
                <h3>Minhas compras</h3>
                <section class="empty-box">
                    <img src="imagens/compras vazia.png" alt="Ícone de caminhão vazio">
                    <p>Você ainda não realizou nenhuma compra</p>
                </section>
            </section>
            <br>
            <br>
            <section class="favorites">
                <h3>Favoritos</h3>
                <section class="empty-box">
                    <img src="imagens/coraçao vazio.png" alt="Ícone de coração vazio">
                    <p>Você ainda não favoritou nenhuma peça ou brechó</p>
                </section>
            </section>
        </section>
    </main>
</body>
</html>
