
<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/minhascompras.css">
  </head>
  <body>

    <header>
        <nav class="grid">
          <a href="/homecomprador">
            <img src="imagens/seta.png" alt="seta-voltar">
          </a>
          <img src="imagens/titulo-minhas compras.png" alt="Logo">
          <a href="/carrinho">
          <img src="imagens/carrinho.png" alt="Descrição da Imagem" />
        </a>
        </nav>
      </header>
        <main class="main">
        <section class="order-section">
          <section class="order-date">15 de Agosto</section>
          <section class="order-card">
            <img src="imagens/vestido branco.png" alt="Vestido Branco Longo" class="product-image">
            <section class="order-info">
              <h2 class="product-title">Vestido Branco Longo</h2>
              <p class="status in-progress">A caminho</p>
              <p class="delivery-info">Chegará hoje antes das 21h</p>
            </section>
          </section>
    
          <section class="order-date">24 de Julho</section>
          <section class="order-card">
            <img src="imagens/vestido roxo2.png" alt="Vestido Magenta com Decote" class="product-image">
            <section class="order-info">
              <h2 class="product-title">Vestido Magenta com Decote</h2>
              <p class="status canceled">Pedido cancelado</p>
              <p class="delivery-info">Reembolsamos seu dinheiro na conta em que você pagou via PIX</p>
            </section>
          </section>
    
          <section class="order-date">11 de Junho</section>
          <section class="order-card">
            <img src="imagens/regata branca.png" alt="Regata Branca" class="product-image">
            <section class="order-info">
              <h2 class="product-title">Regata Branca</h2>
              <p class="status delivered">Entregue</p>
              <p class="delivery-info">Chegou no dia 13 de julho</p>
            </section>
          </section>
    
          <section class="order-date">05 de Maio</section>
          <section class="order-card">
            <img src="imagens/conjunto de blusa rosa.png" alt="Conjunto Rosa de Malha" class="product-image">
            <section class="order-info">
              <h2 class="product-title">Conjunto Rosa de Malha</h2>
              <p class="status delivered">Entregue</p>
              <p class="delivery-info">Chegou no dia 13 de maio</p>
            </section>
          </section>
        </section>
      </section>
    </main>
    <!--                                                    Rodapé                                                      -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <section class="social-media">
        <p class="p-footer">Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Pinterest"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
        </ul>
      </section>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
    </body>
    </html>
    