
<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/minhascompras.css">
  </head>
  <body>

    
    <section class="compras">
        <article>
            <h2>15 de Agosto</h2>
            <figure>
                <img src="vestido-branco.jpg" alt="Vestido Branco Longo">
                <figcaption>
                    <h3>Vestido Branco Longo</h3>
                    <p class="status a-caminho">A caminho</p>
                    <p>Chegará hoje antes das 21h</p>
                </figcaption>
            </figure>
        </article>
        
        <article>
            <h2>24 de Julho</h2>
            <figure>
                <img src="vestido-magenta.jpg" alt="Vestido Magenta com Decote">
                <figcaption>
                    <h3>Vestido Magenta com Decote</h3>
                    <p class="status cancelado">Pedido cancelado</p>
                    <p>Reembolsamos seu dinheiro na conta em que você pagou via PIX</p>
                </figcaption>
            </figure>
        </article>
    
        <article>
            <h2>11 de Junho</h2>
            <figure>
                <img src="regata-branca.jpg" alt="Regata Branca">
                <figcaption>
                    <h3>Regata Branca</h3>
                    <p class="status entregue">Entregue</p>
                    <p>Chegou no dia 13 de julho</p>
                </figcaption>
            </figure>
        </article>
    
        <article>
            <h2>05 de Maio</h2>
            <figure>
                <img src="conjunto-rosa.jpg" alt="Conjunto Rosa de Malha">
                <figcaption>
                    <h3>Conjunto Rosa de Malha</h3>
                    <p class="status entregue">Entregue</p>
                    <p>Chegou no dia 13 de maio</p>
                </figcaption>
            </figure>
        </article>
    </section>
    
</body>
</html>