<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedido Confirmado</title>
  <link rel="stylesheet" href="css/pedidoconf.css">
</head>
<body>
  <div class="container">
    <header>
        <nav class="grid">
            <a href="/index">
              <img src="imagens/seta.png" alt="Seta Voltar">
            </a>
            <h1>Pedido Confirmado</h1>
        </nav>
    </header>
    
  <main>
    <section class="confirmation-section">
      <div class="illustration">
        <img src="imagens/pedido-confirmado.png" alt="img-responsiva">
      </div>
      <h1>Pedido confirmado!</h1>
      <p>Seu pedido foi confirmado, enviaremos um e-mail de confirmação em breve.</p>
    </section>
  </main> 

   <footer>
    <section class="buttons-section">
      <button class="view-orders-button">Ver minhas compras</button>
      <button class="continue-shopping-button">Continue comprando</button>
    </section>
  </div>
  </footer>
</body>
</html>
