<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintelo - Lojas da Esther</title>
    <link rel="stylesheet" href="css/perfilvender.css">
</head>
<body>

    <header>
        <nav class="grid">
          <a href="/homevendedor">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
          <img src="imagens/logo.png" alt="Logo">
          <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Carrinho">
          </a>
        </nav>
      </header>
    <main>
        <br>
        <div class="header-container">
            <div class="profile-section">
                <img src="imagens/maria.png" alt="Loja da Esther" class="profile-img">
                <div class="profile-info">
                    <h1>Lojas da Maria</h1>
                    <span class="rating">4.8 ★★★★★</span>
                </div>
                <button class="edit-button">✎ Editar</button>
            </div>
        </div>
        <br>
    <section class="store-section">
        <div class="store-info">
            <span>40 à venda</span>
            <span>220 vendidos</span>
            <span>870 seguidores</span>
        </div>
        <div class="product-grid">
            <div class="add-item">
                <a href="/adicionar"><img src="imagens/add.png" class="img-add"></a>  
                <p class="titulo-add">Adicione um item a sua loja</p>
            </div>
            <div class="product-card">
                <img src="imagens/saia preta brilhante.png" alt="Saia Preta Com Brilho">
                <p class="legenda">Saia Preta </p>
                <p class="price">R$29,99</p>
            </div>
            <div class="product-card">
                <img src="imagens/saia marrom.png" alt="Saia de Veludo Marrom">
                <p class="legenda">Saia Marrom</p>
                <p class="price">R$30,00</p>
            </div>
            <div class="product-card">
                <img src="imagens/saias preto e branca.png" alt="Saia Branco e Preto">
                <p class="legenda">Conjuto de saia</p>
                <p class="price">R$35,00</p>
            </div>
            <div class="product-card">
                <img src="imagens/saia marrom de couro.png" alt="Saia Marrom">
                <p class="legenda">Saia Marrom</p>
                <p class="price">R$12,99</p>
            </div>
            <div class="product-card">
                <img src="imagens/saia nude.png" alt="Saia Bege com Pequeno Decote">
                <p class="legenda">Saia Bege </p>
                <p class="price">R$15,50</p>
            </div>
        </div>
        
    </section>
    </main>
   <!--                                                    Rodapé                                                      -->
   <footer class="footer">
    <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
    <div class="social-media">
      <p class="p-footer">Siga nossas redes sociais</p>
      <ul class="social-links">
        <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
        <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Pinterest"></a></li>
        <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
      </ul>
    </div>
     <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
