<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Vintélo</title>
    <link rel="stylesheet" href="css/perfis.css">
</head>
<body>
    <header>
        <nav class="grid">
            <a href="/index">
            <img src="imagens/seta.png" alt="Seta Voltar">
            </a>
              <img src="imagens/logo.png" alt="Logo">
            <a href="/carrinho">
              <img src="imagens/carrinho.png" alt="Carrinho">
            </a>
        </nav>
    </header>
    
    <main>
        <section class="profile-section">
            <img src="imagens/brecho3.png" alt="Mayte" class="profile-pic">
            <h2>Mayte</h2>
            <p class="rating">4.9 <span>&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
            <div class="stats">
                <p>40 <br> a venda</p>
                <p>65 <br> Vendidas</p>
                <p>120 <br> Seguidores</p>
            </div>
            <div class="profile-actions">
                <button class="follow-btn">Seguir</button>
                <button class="reviews-btn">Ver avaliações</button>
            </div>
            <p class="bio">Roupas de segunda mão, tendências atuais e estilo com consciência. Renove seu guarda-roupa com peças cheias de história.</p>
        </section>

        <section class="products-section">
            <div class="product-card">
                <img src="imagens/cropped flor.png" alt="Cropped Manga Longa Floral">
                <p>Cropped Manga Longa Floral</p>
                <p>R$29,99</p>
            </div>
            <div class="product-card">
                <img src="imagens/cropped rosa.png" alt="Cropped Manga Longa De Lã Rosa">
                <p>Cropped Manga Longa De Lã Rosa</p>
                <p>R$29,99</p>
            </div>
            <div class="product-card">
                <img src="imagens/vestido preto.png" alt="Vestido Tubinho Preto">
                <p>Vestido Tubinho Preto</p>
                <p>R$30,00</p>
            </div>
            <div class="product-card">
                <img src="imagens/cropped cinza.png" alt="Blusa De Manga Longa Cinza">
                <p>Blusa De Manga Longa Cinza</p>
                <p>R$35,00</p>
            </div>
            <div class="product-card">
                <img src="imagens/tennis.png" alt="Tênis Vert Branco">
                <p>Tênis Vert Branco</p>
                <p>R$29,99</p>
            </div>
            <div class="product-card">
                <img src="imagens/branca regata.png" alt="Blusa Branca">
                <p>Blusa Branca</p>
                <p>R$29,99</p>
            </div>
        </section>

        <div class="more-btn">
            <button>Ver mais</button>
        </div>

    </main>

    <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
        <div class="social-media">
          <p>Siga nossas redes sociais</p>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
          </ul>
        </div>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
</body>
</html>
