<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização de Roupa</title>
    <link rel="stylesheet" href="css/produtos.css">
</head>
<body>

    <header>
         
      <nav class="grid">
        <a href="/index">
         <img src="imagens/seta.png">
        </a>
        <img src="imagens/logo.png">
        <a href="/carrinho">
         <img src="imagens/carrinho.png" alt="Descrição da Imagem" />
        </a>
      </nav>

    </header>

    <main>
        <section class="product-view">
            <figure>
                <img src="imagens/produto3.png" alt="img-responsiva" class="main-image">
                <img src="imagens/fila-vestido-rosa.png" alt="img-responsiva">
          <div class="produto-container">
            <h1>Vestido Roxo Longo</h1>
            <div class="preco">
                <span>3x R$20,00</span>
                <p>R$60,00</p>
            </div>
            <div class="tamanho-disponivel">
                <h3>Tamanho Disponível</h3>
                <div class="tamanho">P</div>
            </div>
            <div class="descricao">
                <h3>Descrição</h3>
                <p><strong>Cor:</strong> Roxo</p>
                <p><strong>Estilo:</strong> Sensual</p>
                <p><strong>Estampa:</strong> Simples</p>
                <p><strong>Detalhes:</strong> Enrugado, Vazado /Dividido, Torcido</p>
                <p><strong>Condições:</strong> Semi-novo</p>
            </div>
        </div>
        <footer>
          <button type="submit" class="submit-btn"> <a href="/finalizandocompra3" class="link-branco">Adicionar a Sacola</a></button>
        </footer>

</body>
</html>
