<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Categoria</title>
    <link rel="stylesheet" href="css/categorias.css">

  </head>
    <body>

      <header>
        <nav class="grid">
          <a href="/index">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
          <img src="imagens/logo.png" alt="Logo">
          <a href="carrinho.ejs">
            <img src="imagens/carrinho.png" alt="Carrinho">
          </a>
        </nav>
      </header>
      

     <main>
       <br>
       <br>
       <center><h2>Categoria de Saias</h2></center> 
       <br>
        <section class="Produtos">
            <nav class="grid">
               <ul class="linha">
                 <li class="celula">
                  <img src="imagens/saia rosa brilhante.png">
                   <p class="legenda">Saia Rosa Brilhante</p>
                   <p class="legenda">R$19,99</p>
                 </li>
               </ul>
   
               <ul class="linha">
                <li class="celula">
                 <img src="imagens/saia preta brilhante.png">
                 <p class="legenda">Saia Preta Brilhante</p>
                 <p class="legenda">R$29,99</p>
                </li>
               </ul>
   
             </nav>
              
            <section class="Produtos">
             <nav class="grid">
               <ul class="linha">
                 <li class="celula">
                   <img src="imagens/saia marrom.png">
                   <p class="legenda">Saia Marrom</p>
                   <p class="legenda">R$20,00</p>
                 </li>
               </ul>
   
               <ul class="linha">
                 <li class="celula">
                   <img src="imagens/saias preto e branca.png">
                   <p class="legenda">Conjunto de Saias Branca e Preta</p>
                   <p class="legenda">R$35,00</p>
                 </li>
               </ul>
              </nav>
            </section>
        <section class="Produtos">  
          <nav class="grid">
            <ul class="linha">
              <li class="celula">
                <img src="imagens/saia marrom de couro.png">
                <p class="legenda">Saia Marrom De Couro</p>
                <p class="legenda">R$20,00</p>
              </li>
            </ul>

            <ul class="linha">
              <li class="celula">
                <img src="imagens/saia nude.png">
                <p class="legenda">Saia Nude</p>
                <p class="legenda">R$25,00</p>
              </li>
            </ul>
          </nav>
       </section>

     </main>

      <!-- Rodapé -->
      <footer class="footer">
        <a href="https://exemplo.com">
         <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
        </a>
        <div class="social-media">
          <p>Siga nossas redes sociais</p>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="facebook-icon.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="twitter-icon.png" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="instagram-icon.png" alt="Instagram"></a></li>
          </ul>
        </div>
        <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
    </body>
  </html>